.form{
    overflow: hidden;
    margin-top: 30px;
}
form{
    overflow: hidden;
}
.nextBtn{
    display: block;
    margin: 0 auto;
}
.weekBtn{
    margin-top: 30px;
}
.weekBtn button{
    margin-right: 15px;
}
.listArr span{
    width: auto;
    float: left;
    padding: 5px;
    background:#1890ff;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 12px;
}