<div class="container">
  <ea-query-simp #eaQuery [node]="queryNode" (onSubmit)="querySubmit($event)"></ea-query-simp>

  <div [style.float]="'right'">
    <nz-button-group>
      <button (click)="operExamine()" nz-button nzType="primary" *ngIf="!showExamine">审核事件</button>
      <button nz-button nzType="primary" *ngIf="showExamine" (click)="batchStatus('1')">通过</button>
      <button nz-button *ngIf="showExamine" (click)="batchStatus('2')">不通过</button>
      <button (click)="showExamine = false" nz-button *ngIf="showExamine">取消</button>
    </nz-button-group>
  </div>

</div>
<div class="content">
  <nz-list [nzDataSource]="dataSet" nzItemLayout="horizontal" [nzLoading]="loading" [nzPagination]="pagination"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item *ngIf="!showExamine || (showExamine && item.auditStatus == 1)" [nzActions]="[editAction]">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction>
            <ng-container *ngIf="showExamine">
              <label nz-checkbox [(ngModel)]="item.checked"></label>
            </ng-container>
          </ng-template>
          <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="item.eventIcon" [nzDescription]="item.showTime">
            <ng-template #nzTitle>
              <h2>
                {{ item.eventName }}
                <b [ngClass]="['status', 's' + item.auditStatus]">
                  （{{ item.auditStatus == 0 ? '无需审核' : item.auditStatus == 1 ? '未审核' : item.auditStatus == 2 ? '审核通过' : '审核未通过' }}）
                </b>
                <span class="name">{{ item.teacherName }} 为 {{ item.studentName }} 添加</span>
              </h2>
              <span class="contentI" [innerHTML]="item.appContent?.content"></span>
              <div *ngIf="item.appContent.videoUrl"><a (click)="previewUrl(item.appContent.videoUrl)">点击查看视频</a></div>
              <div *ngIf="item.appContent.imgUrlList">
                <ng-container *ngFor="let item of item.appContent.imgUrlList">
                  <a (click)="previewUrl(item)">
                    <nz-avatar style="margin-right: 12px;" nzIcon="user" nzSize="large" nzShape="square" [nzSrc]="item">
                    </nz-avatar>
                  </a>
                </ng-container>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #pagination>
      <nz-pagination [nzPageIndex]="queryParams.pageNo" [nzTotal]="queryParams.totalCount" [nzShowTotal]="rangeTemplate"
        (nzPageIndexChange)="loadData($event)"></nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        当前：{{ range[0] }}-{{ range[1] }} 共 {{ total }} 条
      </ng-template>
    </ng-template>
  </nz-list>
</div>